body{
    background-color: rgb(231, 246, 246);
}

h1{
    background-color: rgb(241, 238, 233);
    color: solid black;
    text-align: center;
}

h3{
    color: rgb(17, 17, 17);
    text-align: center;
}